@-moz-document domain("4channel.org") {
    /* Core */
     body {
         color: #a69ca7;
         background: #152326;
         font-family: "UW Ttyp0";
         font-size: 12px;
         line-height: 14px;
         padding-top: 3rem !important;
     }
     hr {
         border: none;
     }
     input[type="checkbox"] {
         width: 12px;
         height: 12px;
         display: inline-block;
         -webkit-appearance: none;
         -moz-appearance: none;
         -o-appearance: none;
         appearance: none;
         border: 1px solid #76627d;
         background: #a69ca7;
         cursor: pointer;
     }
     input[type="checkbox"]:checked {
         background: #76627d;
         border: 1px solid #a69ca7;
     }
     input[type="submit"],
     input[type="button"] {
         color: #76627d;
         font-weight: bold;
         padding: 1px 1px 1px 1px;
         line-height: 12px;
         font-family: "UW Ttyp0";
         font-size: 12px;
         background: #152326;
         border: 1px solid #a69ca7;
         cursor: pointer;
     }
     input[type="submit"]:hover,
     input[type="button"]:hover {
         background: #76627d;
     }
     select {
         background: #152326;
         border: 1px solid #a69ca7;
         font-family: "UW Ttyp0";
         font-size: 12px;
     }
     /* 4chanX */
     #header-bar.dialog {
         color: #77627d !important;
         padding: 0.5rem 0.5rem  0.5rem 0.5rem;
         line-height: 12px;
         background: #152326 !important;
         border-bottom: 1px solid #a69ca7 !important;
         box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.309) !important;
     }
     #header-bar #board-list {
         color: #a69ca7 !important;
     }
     #header-bar #shortcuts > * {
         margin-left: 0.5rem;
     }
     #header-bar .dialog {
         background: #152326 !important;
         border-radius: 0 !important;
         border: 1px solid #a69ca7 !important;
     }
     .focused.entry {
         background: #ffffff !important;
     }
     /* Board */
     .globalMessage {
         display: none !important;
     }
     .middlead {
         display: none !important;
     }
     .boardBanner {
         display: none !important;    
     }
     .is_thread form[name="post"] {
         display: none !important;
     }
     /* Catalog */
     /* Thread */
     div.thread {
         width: 768px;
         margin: auto;
     }
     .is_thread .navlinks {
         width: 768px;
         margin: auto;
         display: none !important;
     }
     /* Posts */
     .is_thread .postContainer {
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         border: 1px solid #a69ca7;
     }
     .postContainer:not(.opContainer) {
         margin-top: 1rem;
     }
     div.reply {
         background:#152326;
         display: block;
         flex: auto;
         padding: 0.618rem;
         margin: 1px !important;
         border: none;
     }
     div.thread > div:nth-of-type(2) > div.reply,
     .post.op {
         display: block;
         flex: auto;
         padding: 0.618rem;
         margin: 0 !important;
         border: none;
     }
     .post.op {
         margin: 0 !Important;
     }
     .reply:target,
     .reply.highlight {
         padding: 0.618rem;
         background: #76627d !important;
         border: none !important;
     }
     .replacedSideArrows {
         width: 6px;
         height: 16px;
         position: absolute;
         margin-top: -5px;
         margin-left: -2px;
     }
     .hide-thread-button:not(:hover),
     .hide-reply-button:not(:hover) {
         opacity: 0.5;
     }
     .fa-minus-square-o::before {
         width: 8px;
         height: 8px;
         margin-top: 3px;
         margin-left: 0px;
         content: "";
         background: #76627d;
         border-right: 1px solid #a69ca7;
         border-bottom: 1px solid #a69ca7;
     }
     .fa-minus-square-o:hover::before {
         background: #76627d;
         cursor: pointer;
     }
     :root.highlight-own .yourPost.opContainer {
         border-left: 1px solid #a69ca7 !important;
     }
     :root.yotsuba.highlight-you .quotesYou > .reply {
         border-left: none !important;
         border-right: 4px solid #a69ca7 !important;
     }
     :root.yotsuba.highlight-own .yourPost > .reply,
     :root.highlight-own .yourPost.opContainer .post {
         border-left: none !important;
         border-right: 4px solid #a69ca7 !important;
     }
     div.reply .postInfo {
         margin-left: 0.5rem;
     }
     .postInfo .nameBlock {
         margin-left: 0;
     }
     .postInfo > input[type="checkbox"] {
         width: 7px;
         height: 7px;
         display: none;
         position: absolute;
         margin-left: -18px;
         -webkit-appearance: none;
         -moz-appearance: none;
         -o-appearance: none;
         appearance: none;
         border-top: 1px solid #a69ca7;
         border-right: 1px solid #a69ca7;
         border-bottom: 1px solid #a69ca7;
         border-left: none;
         background: #a69ca7;
         cursor: pointer;
     }
     .postInfo > input[type="checkbox"]:checked {
         background: #76627d;
     }
     .opContainer {
         display: flex !important;
     }
     .opContainer .postInfo > input[type="checkbox"] {
         margin-left: -300px !important;
         margin-top: -27px !important;
     }
     .opContainer .file-info {
         margin-left: 20px;
     }
     blockquote > span.quote,
     div.post div.postInfo span.subject,
     div.post div.postInfo span.nameBlock span.postertrip {
         color: #76627d;
     }
     a,
     a:visited {
         color: #a69ca7 !important;
     }
     div.post div.postInfo span.postNum > a {
         color: #a69ca7 !important;
     }
     a:hover,
     div.post div.postInfo span.postNum a:hover,
     .posteruid .hand:hover {
         color: #76627d !important;
     }
     .quoteLink,
     .quotelink,
     .deadlink {
         color: #76627d !important;
     }
     div.post div.postInfo span.nameBlock span.name {
         color: #76627d;
     }
     .opContainer .nameBlock {
         margin-left: 0;
     }
     .watch-thread-link {
         display: none;
     }
     #hoverUI div.reply,
     #hoverUI .op {
         padding: 0.618rem !important;
         margin: 0 !important;
         border: 1px solid #a69ca7 !important;
         box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.309);
     }
     #hoverUI *:not(div.reply):not(div.op) {
         margin-top: 0 !Important;
         border: none !important;
     }
     /* Footer */
     #absbot {
         display: none;
     }
     .bottomCtrl {
         margin-top: 1.309rem;
         float: none;
         text-align: Center;
     }
     .bottomCtrl input[type="checkbox"] {
         margin-bottom: -1px;
     }
     .bottomCtrl input[type="submit"] {
         margin-right: 0.5rem;
     }
     /* Syntax Highlghting */
     span.pln {
         color:#76627d;
     }
     span.pun, span.opn, span.clo, span.com {
         color:#76627d;
     }
     span.typ, span.kwd {
         color:#76627d;
     }
     span.lit {
         color:#76627d;
     }
     span.str {
         color:#76627d;
     }
     .prettyprint {
         max-width:630px;
         margin:1rem 0;
         padding:1rem !important;
         background:#152326;
         font-family:"UW Ttyp0", "Kochi Gothic";
         font-size:12px;
         scrollbar-color:#ffffff #ffffff;
         border:1px solid #a69ca7 !important;
     }
 
 
 }
