    #tabbar {
      font-family:"UW Ttyp0";
      font-size:14px;
      background:#152326;
      box-shadow: none !important;
      border: 0px solid #a69ca7 !important;
    }
    tab-item .twisty{
      visibility: hidden;
      margin-left: -12px !important;
    }
    tab-item .label {
      margin-left: 7px;
    }
    .closebox {
      display:none;
    }
    .newtab-button-box {
      display:none;
    }
    tab-item {
      padding: 8px;
      font-family:"UW Ttyp0";
      font-size:12px;
      background:#152326;
    }
	tab-item.active, tab-item:hover{
      background:#2C383B;
	}
    tab-label {
      margin-bottom: 0px;
      color:#a69ca7;
    }
	tab-item.active, tab-label.hover{
      color:#152326;
	}
    .highlighter {
      display:none;
    }
    tab-item[data-level][data-level="0"] {
	  box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -5px !important;
    }
    tab-item[data-level][data-level="1"] {
      position: relative;
      top: 1px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -18px!important;
    }
    tab-item[data-level][data-level="2"] {
      position: relative;
      top: 2px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -30px !important;
    }
    tab-item[data-level][data-level="3"] {
      position: relative;
      top: 3px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -42px !important;
    }
    tab-item[data-level][data-level="4"] {
      position: relative;
      top: 4px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -54px !important;
    }
    tab-item[data-level][data-level="5"] {
      position: relative;
      top: 5px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -66px !important;
    }
    tab-item[data-level][data-level="6"] {
      position: relative;
      top: 6px;
      box-shadow: 0px 0px 0px 1px #a69ca7 !important;
      margin-left: -77px !important;
    }
    #tabbar:hover tab-item[data-level][data-level="0"] {
      margin-left: 0 !important;
    }
    #tabbar:hover tab-item[data-level][data-level="1"] {
      margin-left: 4% !important;
      --tab-margin-left: -12px;
    }
    #tabbar:hover tab-item[data-level][data-level="2"] {
      margin-left: 8% !important;
      --tab-margin-left: -24px;
    }
    #tabbar:hover tab-item[data-level][data-level="3"] {
      margin-left: 12% !important;
      --tab-margin-left: -36px;
    }
    #tabbar:hover tab-item[data-level][data-level="4"] {
      margin-left: 16% !important;
      --tab-margin-left: -48px;
    }
    #tabbar:hover tab-item[data-level][data-level="5"] {
      margin-left: 20% !important;
      --tab-margin-left: -60px;
    }
    #tabbar:hover tab-item[data-level][data-level="6"] {
      margin-left: 24% !important;
      --tab-margin-left: -72px;
    }
tab-item tab-counter {
  color: #76627d;
  font-weight: 600;
}

/* Add private browsing indicator per tab */
/*
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/
